@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';

@theme {
  /* Typography - Font Family */
  --font-sans: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* Colors - Primitive/Gray */
  --color-white: #ffffff;
  --color-gray-50: #f2f2f7;
  --color-gray-100: #e5e5ea;
  --color-gray-200: #d1d1d6;
  --color-gray-300: #c7c7cc;
  --color-gray-400: #aeaeb2;
  --color-gray-500: #8e8e93;
  --color-gray-600: #636366;
  --color-gray-700: #48484a;
  --color-gray-800: #3a3a3c;
  --color-gray-900: #1c1c1e;
  --color-black: #000000;

  /* Colors - Primitive/Blue (Green) */
  --color-green-50: #e0fff0;
  --color-green-100: #b8ffe6;
  --color-green-200: #8cffd0;
  --color-green-300: #63ffd6;
  --color-green-400: #38ffd1;
  --color-green-500: #1bffd0;
  --color-green-600: #0dd9b5;
  --color-green-700: #00b39b;
  --color-green-800: #008c7e;
  --color-green-900: #00665f;

  /* Typography - Font Size (Primitive/Scale) */
  --font-size-xxxl: 40px;
  --font-size-xxl: 28px;
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 8px;

  /* Typography - Line Height */
  --line-height-l: 28px;
  --line-height-m: 24px;
  --line-height-s: 20px;
  --line-height-xs: 16px;

  /* Typography - Letter Spacing */
  --letter-spacing: 0;

  /* Typography - Font Weight */
  --font-weight-b: 700;
  --font-weight-sb: 600;
  --font-weight-m: 500;
  --font-weight-r: 400;

  /* Typography - Composite Styles */
  --typography-title-1-font-family: 'Pretendard';
  --typography-title-1-font-weight: 600;
  --typography-title-1-font-size: 28px;
  --typography-title-1-line-height: 125%;
  --typography-title-1-letter-spacing: 0;

  --typography-title-2-font-family: 'Pretendard';
  --typography-title-2-font-weight: 600;
  --typography-title-2-font-size: 24px;
  --typography-title-2-line-height: 28px;
  --typography-title-2-letter-spacing: 0;

  --typography-title-3-font-family: 'Pretendard';
  --typography-title-3-font-weight: 700;
  --typography-title-3-font-size: 20px;
  --typography-title-3-line-height: 24px;
  --typography-title-3-letter-spacing: 0;

  --typography-body-1-font-family: 'Pretendard';
  --typography-body-1-font-weight: 500;
  --typography-body-1-font-size: 16px;
  --typography-body-1-line-height: 24px;
  --typography-body-1-letter-spacing: 0;

  --typography-body-2-font-family: 'Pretendard';
  --typography-body-2-font-weight: 600;
  --typography-body-2-font-size: 16px;
  --typography-body-2-line-height: 20px;
  --typography-body-2-letter-spacing: 0;

  --typography-caption-1-font-family: 'Pretendard';
  --typography-caption-1-font-weight: 600;
  --typography-caption-1-font-size: 12px;
  --typography-caption-1-line-height: 16px;
  --typography-caption-1-letter-spacing: 0;

  --typography-caption-2-font-family: 'Pretendard';
  --typography-caption-2-font-weight: 400;
  --typography-caption-2-font-size: 12px;
  --typography-caption-2-line-height: 16px;
  --typography-caption-2-letter-spacing: 0;

  /* Spacing (Primitive/Scale)*/
  --spacing-xxxl: 40px;
  --spacing-xxl: 28px;
  --spacing-xl: 24px;
  --spacing-l: 20px;
  --spacing-m: 16px;
  --spacing-s: 14px;
  --spacing-xs: 12px;
  --spacing-xxs: 8px;

  /* Margin (Primitive/Scale) */
  --margin-l: 24px;
  --margin-m: 20px;
  --margin-s: 16px;

  /* Padding (Primitive/Scale) */
  --padding-l: 16px;
  --padding-m: 12px;
  --padding-s: 8px;

  /* Radius (Primitive/Scale) */
  --radius-xl: 40px;
  --radius-l: 24px;
  --radius-m: 16px;
  --radius-s: 8px;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
